@charset "UTF-8";
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-poppins: "Poppins", sans-serif;
  --font-family-serif: "Raleway", serif;
  --inline-body-padding: 5%;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-poppins);
  margin: 0;
  padding: 0;
  background-color: #fbfbf9;
  color: var(--dark);
  overflow-x: hidden;
}

.loader-cont {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background: #000000;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 6em;
  height: 6em;
  font-size: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader .face {
  position: absolute;
  border-radius: 50%;
  border-style: solid;
  -webkit-animation: animate023845 3s linear infinite;
          animation: animate023845 3s linear infinite;
}

.loader .face:nth-child(1) {
  width: 100%;
  height: 100%;
  color: var(--purple);
  border-color: currentColor transparent transparent currentColor;
  border-width: 0.2em 0.2em 0em 0em;
  --deg: -45deg;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

.loader .face:nth-child(2) {
  width: 70%;
  height: 70%;
  color: var(--white);
  border-color: currentColor currentColor transparent transparent;
  border-width: 0.2em 0em 0em 0.2em;
  --deg: -135deg;
  animation-direction: reverse;
}

.loader .face .circle {
  position: absolute;
  width: 50%;
  height: 0.1em;
  top: 50%;
  left: 50%;
  background-color: transparent;
  transform: rotate(var(--deg));
  transform-origin: left;
}

.loader .face .circle::before {
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  content: "";
  width: 1em;
  height: 1em;
  background-color: currentColor;
  border-radius: 50%;
  box-shadow: 0 0 2em, 0 0 4em, 0 0 6em, 0 0 8em, 0 0 10em, 0 0 0 0.5em rgba(255, 255, 0, 0.1);
}

@-webkit-keyframes animate023845 {
  to {
    transform: rotate(1turn);
  }
}

@keyframes animate023845 {
  to {
    transform: rotate(1turn);
  }
}
.disappear {
  -webkit-animation: vanish 1s forwards;
          animation: vanish 1s forwards;
}

@-webkit-keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
header {
  background: url(/assets/images/header.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
  z-index: 1;
}

header > * {
  position: relative;
  z-index: 2;
}

header::after {
  position: absolute;
  content: "";
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.navbar,
.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  width: 100%;
  padding-block: 1rem;
  z-index: 99;
  padding-inline: var(--inline-body-padding);
  transition: 1s;
  position: relative;
}

.nav-list {
  gap: 2rem;
  list-style: none;
}

.nav-list a {
  text-decoration: none;
  transition: 0.5s ease-in-out;
}

.nav-list a:hover {
  color: var(--purple);
}

.nav-list li a {
  color: var(--white);
  font-weight: 600;
}

/* Scroll animation */
.nav-scroll {
  /* From https://css.glass */
  position: fixed;
  top: 0;
  background: rgb(0, 0, 0);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  /* backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); */
  transition: 0.1s;
  -webkit-animation: drop-in 1s ease-in-out;
          animation: drop-in 1s ease-in-out;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.logo img {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  transition: 0.5s;
}

.logo span {
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  /* line-height: inherit;
  white-space: nowrap;  */
  /* From https://css.glass */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* button styles */
.say-hello {
  padding-inline: 1rem;
  padding-block: 0.5rem;
  background-color: var(--purple);
  color: var(--white);
  font-weight: 600;
  font-size: 1rem;
  border: 2px solid var(--purple);
  border-radius: 0.2rem;
  transition: 0.5s ease-in;
  cursor: pointer;
}

.say-hello:hover {
  box-shadow: 0 0 60px var(--purple);
}

.hello {
  align-items: center;
}

.fa-navicon {
  font-size: 2rem;
  color: var(--white);
  display: none;
}

.fa-close {
  color: var(--white);
  display: none;
}

/* profile section */
.profile-container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  color: white;
  padding-top: var(--inline-body-padding);
  padding-inline: var(--inline-body-padding);
}

.name {
  font-family: var(--font-family-serif);
  font-size: 4.5rem;
  color: var(--white);
  font-weight: 600;
  text-shadow: 0 0 50px var(--purple);
  padding-block: 1rem;
}

.auto-type {
  color: var(--purple);
  font-weight: 600;
  font-size: 2rem;
}

.welcome {
  color: var(--white);
  font-weight: 600;
  font-size: 2rem;
}

.title {
  color: var(--white);
  font-weight: 600;
  font-size: 2rem;
}

.scroll {
  width: 60px;
  height: 60px;
  margin: auto;
  border: 2px solid var(--purple);
  border-radius: 50%;
  position: relative;
  animation: down 1.5s infinite;
  -webkit-animation: down 1.5s infinite;
}
.scroll::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 18px;
  width: 18px;
  height: 18px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(-45deg);
}

@keyframes down {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(15px);
  }
  40% {
    transform: translate(0);
  }
}
@-webkit-keyframes down {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(15px);
  }
  40% {
    transform: translate(0);
  }
}
/* about me section */
.sub-header {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--purple);
  margin-top: 5rem;
  text-align: center;
  font-family: var(--font-family-serif);
}

.header {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  font-family: var(--font-family-poppins);
  color: black;
  text-align: center;
  margin-bottom: 5rem;
}

/* about me grid */
.about-grid {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.my-picture {
  flex: 1;
}

.brief {
  flex: 1;
}

.my-picture {
  text-align: center;
}

.my-picture img {
  width: 25rem;
  height: 25rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  /* box-shadow: 0 0 20px var(--purple); */
}

.about-me {
  text-align: justify;
  line-height: 2;
}

.brief p {
  font-weight: 500;
  margin-bottom: 1rem;
  line-height: 2;
  font-size: 1rem;
}

.intro {
  line-height: 1;
  padding-block: 0.5rem;
}

.stuff {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stuff .item {
  font-weight: 600;
  text-transform: uppercase;
}

.stuff-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding-block: 1rem;
  font-weight: 600;
}

.stars {
  color: var(--purple);
}

.download button {
  padding-inline: 1.5rem;
  padding-block: 1rem;
  width: 100%;
  background-color: var(--purple);
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  border: 1px solid var(--purple);
  border-radius: 0.2rem;
  transition: 0.5s ease-out;
  cursor: pointer;
}

.download button:hover {
  box-shadow: 0 0 50px var(--purple);
}

/* services section */
.services-grid,
.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-inline: var(--inline-body-padding);
  text-align: center;
  gap: 3rem;
}

.services-grid p {
  font-weight: 600;
}

.services-grid > div {
  padding-block: 2rem;
  border-radius: 10px;
  background: #fafafa;
  box-shadow: 20px 20px 60px #d5d5d5, -20px -20px 60px #ffffff;
  transition: 0.5s ease;
}

.services-grid > div:hover {
  background-color: var(--purple);
}

.services-grid > div:hover span {
  color: white;
}

.services-grid > div:hover p {
  color: white;
}

.services-grid span {
  color: var(--purple);
  padding-block: 1rem;
  font-size: 3rem;
}

.services-grid p {
  font-weight: 500;
}

.portfolio-grid img {
  width: 100%;
  transition: 1s ease-in;
}

.portfolio-grid .portfolio-item {
  position: relative;
  cursor: pointer;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 15px solid rgba(255, 255, 255, 0.5);
  transition: 1s;
}

.portfolio-grid p {
  font-weight: 700;
  background-color: var(--purple);
  padding-block: 0.5rem;
  margin-bottom: 0.5rem;
  color: white;
}

.portfolio-grid .language {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.portfolio-grid span::before {
  content: "👉";
}

/* contact me */
.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  margin: auto;
  gap: 4rem;
}

.contact-grid label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.contact-grid input,
.contact-grid textarea,
#hello {
  width: 100%;
  padding-block: 1rem;
  margin-bottom: 1rem;
  outline: none;
  /* From https://css.glass */
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 3px solid rgba(255, 255, 255, 0.3);
  font-weight: 300;
  font-size: 1.2rem;
}

#hello {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--purple);
  color: white;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#hello:hover {
  box-shadow: 0 0 10px var(--purple);
}

.contact-grid iframe {
  height: 100%;
  width: 100%;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 15px solid rgba(255, 255, 255, 0.5);
}

footer {
  width: 100vw;
  background: #000;
  color: #fff;
  padding: 3rem 0rem 0rem 0rem;
  margin-top: 3rem;
}

.my-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  font-weight: 700;
}

.my-logo img {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  transition: 0.5s;
}

footer p {
  text-align: center;
  padding-block: 1rem;
  width: 50%;
  margin: auto;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.icons span {
  width: 3rem;
  height: 3rem;
  font-weight: 600;
  font-size: 1.5rem;
  border: 1px solid var(--purple);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  cursor: pointer;
  transition: 0.5s ease-out;
  color: var(--purple);
}

.icons span:hover {
  background-color: var(--purple);
  color: white;
}

.copyright {
  text-align: center;
  padding-block: 2rem;
  font-weight: 700;
}

@media (max-width: 1160px) {
  .about-grid,
.contact-grid {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    gap: 2rem;
  }
  .about-grid {
    box-shadow: none;
    padding: 0;
  }
  .services-grid,
.portfolio-grid {
    grid-template-columns: 1fr 1fr;
  }
  .fa-navicon,
.fa-close {
    display: flex;
    cursor: pointer;
  }
  .navbar.active {
    background-color: black;
    -webkit-animation: color-nav 2s ease-in-out;
            animation: color-nav 2s ease-in-out;
  }
  .nav-list {
    display: none;
    transition: 1s;
  }
  .nav-list.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    background-color: black;
    padding-block: 1rem;
    -webkit-animation: nav-drop 0.2s ease-in-out;
            animation: nav-drop 0.2s ease-in-out;
  }
  .nav-list li a {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    -webkit-animation: reveal 5s ease-out;
            animation: reveal 5s ease-out;
  }
  .say-hello {
    text-transform: uppercase;
    font-size: 1.3rem;
    -webkit-animation: reveal 5s ease-out;
            animation: reveal 5s ease-out;
  }
}
@media (max-width: 768px) {
  /* .nav-list {
    display: none;
  } */
  .name {
    font-size: 2.5rem;
  }
  .title,
.title span {
    font-size: 1.5rem;
  }
  .title {
    padding-block: 1rem;
  }
  .header {
    font-size: 2rem;
  }
  .sub-header {
    font-size: 1.2rem;
  }
  footer p {
    width: 90%;
  }
  .say-hello {
    padding-inline: 1rem;
    padding-block: 0.5rem;
    font-size: 0.9rem;
  }
  .welcome {
    font-size: 1.5rem;
  }
  .my-picture img {
    width: 20rem;
    height: 20rem;
  }
  .services-grid,
.portfolio-grid {
    grid-template-columns: 1fr;
  }
}
@-webkit-keyframes drop-in {
  from {
    position: static;
    top: -100px;
  }
  to {
    position: fixed;
    top: 0;
  }
}
@keyframes drop-in {
  from {
    position: static;
    top: -100px;
  }
  to {
    position: fixed;
    top: 0;
  }
}
@-webkit-keyframes color-nav {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes color-nav {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@-webkit-keyframes nav-drop {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes nav-drop {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@-webkit-keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=main.css.map */